<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536471753212-kphuj3blb3j2p43f52ckbabhut0h73rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536471753212-kphuj3blb3j2p43f52ckbabhut0h73rd</string>
	<key>API_KEY</key>
	<string>AIzaSyCK8j0-zsowcn2EZMPLFesr3brVl_0cLKE</string>
	<key>GCM_SENDER_ID</key>
	<string>536471753212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sullivan.Note</string>
	<key>PROJECT_ID</key>
	<string>note-ba6dc</string>
	<key>STORAGE_BUCKET</key>
	<string>note-ba6dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536471753212:ios:c6273ca18b23b8994e6279</string>
</dict>
</plist>